@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #111111; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-gradient {
  background: linear-gradient(74deg,
      #ede6d6 25%, #111111 25% 50%, #111111 50% 75%, #111111 75%);
}

.about-button {
  transition: all 0.3s ease-in;
}

.about-button:hover {
  background: #FFB400;
}

.gg {
  overflow-x: hidden;
  overflow-y: scroll;
}

.skill-html {
  background-color: hsl(192, 93%, 62%, 0.9);
  z-index: 100;
}

.skill-github {
  z-index: 99;
  background-color: hsl(360, 94%, 63%, 0.9);
}

.skill-next {
  top: 10;
  right: -140px;
  z-index: 99;
  background-color: hsl(239, 43%, 48%, 0.9);
}